@charset "UTF-8";
/* フォームのスタイル設定 */
.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-container h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 共通ボタンスタイル */
.form-group input[type="submit"],
.form-group button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 50%; /* ボタンの横幅を50%に設定 */
    display: inline-block; /* ボタンをインラインブロックにすることで右寄せ */
    text-align: center; /* ボタン内のテキストを中央に */
}

.form-group input[type="submit"]:hover,
.form-group button:hover {
    background-color: #0056b3;
}

